.env
.env.*
!.env.example
.tools/
node_modules/
dist/
.astro/
artifacts/
playwright-report/
test-results/
/[Cc][Uu][Rr][Rr][Ii][Cc][Uu][Ll][Uu][Mm]/
/[Ii][Mm][Mm][Aa][Gg][Ii][Nn][Ii]-[Rr][Ee][Aa][Ll][Ii]/
/curriculum/
/immagini-reali/
